<md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">About This Application</span>
            </md-card-title-text>
        </md-card-title>

        <md-content class="md-padding" layout-xs="column" layout="row">
            <md-card>
                <md-card-title-text>
                    Created by Dino Arachchi using:
                </md-card-title-text>
                <md-card-content>
                    <md-content flex layout-padding>
                        MongoDB | Express | Angular | Node 
                    </md-content>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title-text>
                    Github Repository
                </md-card-title-text>
                <md-content flex layout-padding>
                    <a href="https://github.com/DArachchi/Twitter-App" target="_blank">Here</a>
                </md-content>
            </md-card>

        </md-content>
    </md-card>